@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


h1{
    font-size: 64px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
}
h2{
    font-size: 48px;
    text-align: left;
    letter-spacing: 0px;
    color: #090808;
}
p{
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 15px;
}
.main-area{
    background: #090808 0% 0% ;
    opacity: 1; 
    width:100%;
    overflow: hidden;
    top: 0; 
}
.header-main .navbar-expand-lg{
    float: right;
}
.header-main .navbar-expand-lg ul li a{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px;
    font-weight: 300;
}
.banner-section{
    width: 100%;
    overflow: hidden;
    display: flex;
    background: #090808 0% 0%;
    padding-top: 20px;
}
.banner-text{
    color: #fff;
    width: 45%;
    padding-top: 70px;
    padding-left: 85px;
    position: relative;
    left: 5%;

}
.banner-search-box{
    padding-top: 45px;
}
.banner-search-box ul{
    list-style: none;
    display: inline-flex;
    margin-left: -40px;
    margin-bottom: 0;
}
.search-tab li{
    font-size: 14px;
    text-align: center;
    letter-spacing: 0px;
    padding: 10px 25px;
}
.search-tab li:first-child{
   background: #C8A962 0% 0%;
    color: #090808;
}
.search-tab li:last-child{
    background: #A57C1F 0% 0%;
    color: #FFFFFF;
}
.search-box ul{
    background: #8c8b8b8a 0% 0%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    height: 70px;
}
.search-box ul li{
    color: #fff;
    padding: 0px 20px;
   
}
.search-box ul li a{
    color: #fff;
    font-size: 12px;
}
.search-btn{
    background: #A57C1F 0% 0%;
    color:#fff;
    font-size: 12px;
    height: 70px;
}
.search-box ul li:last-child{
    padding: 0;
}
.search-box ul li a:after{

}
.left-section{
    background: #C8A962 0% 0%;
    color: #090808;
    padding-top: 150px;
}
.left-section p{
    transform: rotate( 
-90deg
);
    text-align: center;
    vertical-align: middle;
   padding: 70px 0px;
}
.left-section p a{
    color: #fff;
    font-size: 12px;
}
.area-guid{
    background: #F2F2F3;
    padding-top: 100px;
}
.area-box h3{
    color: #090808;
    text-align: left;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    width: 25%;
    padding-top: 25px;
}
.area-box img{
    width:100%;
}
.area-box h3:before{
    content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.text-box p{
    color: #777D84;
    font-size: 14px;
}
.box-1{
    margin-top:150px;
}
.box-2{
    margin-top: 75px;
}
.about-us{
    background:  #F2F2F3;
    overflow: hidden;
    padding-top: 100px;
}
.about-img{
    position: relative;
}
.about-btn{
    position: absolute;
    bottom: 150px;
    right: -50px;
    background: #C8A962 0% 0%;
    color: #090808;
    border: none;
    border-radius: 0;
    padding: 15px 30px;
}
.about-box p{
    color: #090808;
}
.about-box{
    padding: 100px 15px 0px 90px;
}
.about-box h2{
    padding-bottom: 40px;
}
.our-service{
   background: #090808;
    overflow: hidden;
    padding-bottom: 50px;
}
.our-service h2{
    color:#fff;
    float: left;
}
.service-main{
    overflow: hidden;
    padding: 50px 0px;
}
.more-btn{
    background: #C8A962 0% 0%;
    color: #090808;
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    float: right;
}
.testi-item{
    background: #43330E;
    color: #fff;
    text-align: center;
    padding: 20px
}
.testi-item img{
    margin: 0 auto;
    display: block;
}
.testi-item h3{
    font-size: 18px;
    padding: 10px 0px;
}
.testi-item p{
    font-size: 14px;
    text-align: center;
}
.testimonial-slider .slick-slide{
    margin: 0 15px;
}
footer{
    background: #090808;
    margin-top: 30px;
    padding: 100px 0px 20px;
}

footer h4{
    color:#F0BD53;
    font-size: 16px;
}
.newsletter-text p{
    font-size: 27px;
}
.newsletter-form{
    border: 1px solid;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.newsletter-form .input-box{
    background: transparent;
    border: none;
    width: 80%;
}
.newsletter-form .newsletter-btn{
    background: #C8A962 0% 0%;
    color: #090808;
    border: none;
    border-radius: 0;
    padding: 5px 17px;
}
.newsletter-row, .contact-footer{
    border-bottom: 1px solid;
    padding-bottom: 40px;
}
.contact-footer{
    margin-bottom: 20px;
    padding-top: 70px;
}
.footer-links h3{
    font-size: 21px;
    color: #fff;
    padding: 20px 0px;
}
.footer-links ul{
    list-style: none;
    margin-left: -40px;
}
.footer-links ul li{
    padding-bottom: 5px;
}
.footer-links ul li a, .footer-links ul li{
    color: #fff;
}
.footer-links ul li a:hover{
    text-decoration: none;
}
.footer-links{
    padding-left: 20px;
}
.contact-footer p{
    padding-top: 70px
}
.recently-added-wrapper{
    overflow: hidden;
    padding: 150px 0px;
    background: #F2F2F3
}
.title-section p{
    color:  #090808;
}
.content-section{
    margin-top: 50px;
}
.content-text h4{
    color: #7A7A7A;
    font-size: 15px;
    padding: 13px 0px;
    font-weight: 400;
    line-height: 25px;
    height: 105px;
}
.content-text{
    width: 100%;
    padding: 10px;
    background: #fff;
    height: 220px;
}
.content-image img{
    width:100%;
}
.content-text ul{
    list-style: none;
    display: inline-flex;
    margin-left: -40px;
}
.content-text ul li{
    font-size: 12px;
    color: #7A7A7A;
    padding-right: 5px;
}
.content-text ul li img{
    margin-right: 5px;
}
.content-text p{
    color: #090808;
    font-size: 14px;
    font-weight: 600;
}
.partners{
    padding: 50px 0px;
}
.partners, .partners h2{
    text-align: center;
}
.partners h2{
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 40px;
}
.first-img{
    margin-top: 70px;
}





